/node_modules
/body-parser
bundle.js
npm-debug.log
# IntelliJ
*.iml
/.idea
.DS_Store
uploads/*
!uploads/.gitkeep
resized_pictures/*
!resized_pictures/.gitkeep
public/profile_pictures/*
!public/profile_pictures/.gitkeep
.env
