MONGODB_URI = mongodb://<your-mongodb-url> || mongodb://127.0.0.1/voting
PORT = <YOUR_PREFERRED_PORT> || 4000
CLOUDINARY_KEY = your_cloudinary_key
CLOUDINARY_SECRET = your_cloudinary_secret
CLOUDINARY_CLOUD_NAME = your_cloudinary_cloud_name
