<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from getbootstrap.com/examples/jumbotron/ by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 02 Oct 2013 12:14:30 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/styles/index.css" rel="stylesheet">

</head>

<body>
<div class="row login-wrapper">
    <div class="nav-link"><span class="nav-link-text">TwoVotes</span></div>

    <% if(signup_success.length > 0) {%>
    <div class="alert alert-success alert-dismissible signup-alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
        <%=signup_success%>
    </div>
    <%}%>

    <div class="login-container">
        <%- body %>
    </div>
</div>
<script src="/jsfiles/jquery-2.1.1.js"></script>
<script src="/jsfiles/bootstrap.js"></script>

</body>

<!-- Mirrored from getbootstrap.com/examples/jumbotron/ by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 02 Oct 2013 12:14:30 GMT -->
</html>

