<%- layout("template1")%>
<% include profile_header.ejs %>

<div class="row container-hd">
    <% include side_menu.ejs %>
    <div class="col-lg-5 col-lg-offset-2 img-frame">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-bordered">
                    <caption>First Picture</caption>
                    <%include ../partials/error.ejs%>
                    <%include ../partials/success.ejs%>
                    <form method="post" action="/user/post" enctype="multipart/form-data">
                        <tr>
                            <td align="center">
                                <img src="<%=path1%>" class="img-responsive">

                            </td>
                            <td align="center">
                                <img src="<%=path2%>" class="img-responsive">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" name="postId" value="<%= count %>" />
                                <input type="file" name="picture1" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" name="vote1" value="vote2">
                                    Upload First Picture
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>

    </div>
</div>
