<div class="row profile-section">
    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 profile-inner-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 img-wrapper">
                <img src="<%= user.user_avatar %>" class="img-responsive img-circle">
            </div>
            <div class="col-xs-12 col-sm-9 profile-detail-section">
                <p style="margin:0px;font-size:12px"><%= user.name.fname %> <%= user.name.lname %></p>
                <p style="margin:0px;font-size:12px"><a href="/user/profile">View Profile </a> | <a href="/logout">Logout</a>
                </p>
                <p style="margin:0px;font-size:12px"><a href="/user/update-profile">Edit Profile</a></p>
            </div>
        </div>
    </div>
</div>
