<div class="col-lg-3 leftnavy">
    <div class="nav-head"><h5 class="text-center">Quick Access</h5></div>
    <div class="list-group show">
        <a href="/user/post" class="list-group-item">New Post</a>
        <a href="/user/home" class="list-group-item">All Posts</a>
        <a href="/user/posts" class="list-group-item">My Posts</a>
    </div>
</div>
