<div class="col-lg-2 leftnavy">
    <div class="nav-head"><h5>Quick Access</h5></div>
    <div class="list-group left-navy-item-wrapper">
        <a href="/user/post" class="list-group-item">
            <i class="fa fa-lg fa-pencil-square"></i> New Post
        </a>
        <a href="/user/home" class="list-group-item">
            <i class="fa fa-lg fa-cloud" aria-hidden="true"></i> All Posts
        </a>
        <a href="/user/posts" class="list-group-item">
            <i class="fa fa-lg fa-folder" aria-hidden="true"></i> My Posts
        </a>
    </div>
</div>
