.container-hd {margin-top: 2%}

.left-navy-item-wrapper {
    border: none;
    box-shadow: none;
}
.left-navy-item-wrapper .list-group-item {
    border: none;
}
.left-navy-item-wrapper > a:hover{
    background-color: #F6F7F9;
    border-radius: unset;
    border: 1px solid lavender !important;
}
.left-navy-item-wrapper > a {
    text-align: left;
    box-shadow: none;
    padding-left: 5px;
    color: #555555;
    border: none !important;
    background-color: transparent;
    line-height: 5px;
}

.leftnavy > .nav-head {
    padding: 0.5px 0.5px 0.5px 5px;
    background-color: #F6F7F9;
}

.show{
    margin-bottom:50px;
    line-height:5px;
}
.imgcont2{
    background-color:#696969;
}
body{
    background-color: lavender;
}
.navigay{
    padding:0px;
    padding-bottom:0px;
}
.leftnavy {
    padding-left:5px;
    padding-right:5px;
    margin-bottom: 25px;
    min-height: 450px;
}
.nav-head{
    background-color: lavender;
    text-align: left;
    font-size:11px;
    color:black;
}
.glysize{
    font-size:20px;
}
footer{
    background-color:white;
    text-align: center;
    font-size:15px;
    color:gray;
    margin-bottom:5px;
}
.navedit{
    background-color:#006633;
}
.imgcont1{
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:10px;
    box-shadow: 5px 5px 5px gray;
    background: linear-gradient(#5F9EA0 25%, #077000   10%);
    background: -moz-linear-gradient(#5F9EA0 25%, #077000   100%); /* FF3.6+ */
    background: -webkit-linear-gradient(#5F9EA0 25%, #008B8B  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(#5F9EA0 25%, #008B8B   100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(#5F9EA0 25%, #008B8B  100%); /* IE10+ */
}
.post {
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:45px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px gray;
    background: linear-gradient(#5F9EA0 25%, #077000   10%);
    background: -moz-linear-gradient(white 25%, white  100%); /* FF3.6+ */
    background: -webkit-linear-gradient(white 25%, white  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(#5F9EA0 25%, #008B8B   100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(#5F9EA0 25%, #008B8B  100%); /* IE10+ */
}
#fom{
    background-color:#37639A;
    padding:4px 3px 2px 3px;
    margin-top:10px;
    height:250px;
    border:#37639A 3px solid;
    border-radius:10px;

}
.form-group{

    padding:4px 3px 2px 3px;
}

.profile-section {
    margin-top: 15px;
    padding: 10px;
    box-shadow: -1px 1px 5px gray;
}

.profile-section a {
    color: #241aaa;
}
.profile-inner-wrapper {
    padding: 0
}
.profile-detail-section {
    padding: 0
}

.no-padding {
    padding: 0;
}

.img-frame {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px gray;
}

.profile-page-content-wrapper {
    padding: 15px;
    box-shadow: 2px 2px 10px gray;
}
.profile-page-content {
    background-color:#FFFFFF;
    margin-top:10px;
    padding-top:20px;
    padding-left:20px;
    padding-bottom: 20px;
}

.profile-page-content-header {
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
}
.profile-page-content-header > a {
    float: right;
}
.update-profile-page-wrapper {
    padding: 25px;
    margin: 0 15px 15px 15px;
    box-shadow: 1px 1px 15px gray;
}

.update-profile-page-wrapper > p > span {
    font-weight:bold;
    font-family:'Times New Roman',Times, serif;
    font-size:16px;
}
.update-profile-page-wrapper > p{
    text-align: center;
}

.update-profile-page-wrapper > p > a{
    float: right;
}

.update-profile-form-wrapper {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.update-profile-form-wrapper:hover{
    box-shadow: 1px 1px 15px gray;
}

.update-picture-wrapper {
    margin-right: 10px;
    padding: 35px;
}

.update-picture-wrapper:hover{
    box-shadow: 1px 1px 15px gray;
}

.update-profile-content-wrapper {
    margin-top: 10px;
}


.login-wrapper{
    display: flex;
    flex-direction: column;
    background: radial-gradient(gray 0, #58571f 15%, #262054 60%);
    height: 100vh;
}
.login-container{
    display: flex;
    flex: 1;
    align-items: center;
}

.login-form input, .login-form button[type=submit] {
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
}

.login-form button[type=submit] {
    background-color: #262054;
    border-color: #a2a2a2;
}

.login-form .help-block {
    color: #fff;
    font-size: 16px;
}

.login-form-section h5, .signup-wrapper h5 {
    text-align: center;
    color: #fff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.signup-wrapper .row{
    box-shadow: 1px 1px 10px gray;
}

.signup-form button {
    background-color: #262054;
    border-color: #a2a2a2;
    font-size: 16px;
}
.signup-form button:hover {
    background-color: #1f0f54;
    border-color: #a2a2a2;
    font-size: 16px;
}

.signup-form .help-block {
    color: #fff;
}

.nav-link {
    padding-top: 10px;
    padding-left: 50px;
}

.nav-link span {
    color: #fff;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 20px;
}

.nav-header-section {
    background: #1f0f54;
}
.nav-header-section a {
    color: #e2e2e2 !important;
}

.nav-header-section .username {
    cursor: inherit;
}
.signup-alert {
    margin: 15px 15px 0 15px;
    text-align: center;
}
.img-text {
    font-size: 12px;
}
