<%- layout("template1")%>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-3">
            <h3>Add Department here</h3>
            <p>Departmental records here</p>
            <p><a class="btn btn-primary btn-lg" href="/dept">Add Department &raquo;</a></p>


        </div>
        <div class="col-lg-3">
            <h3>Add Faculty here</h3>
            <p>Faculty details come here</p>
            <p><a class="btn btn-primary btn-lg" href="/faculty">Add Faculty &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <h3>Add Course here</h3>
            <p>Adding courses for students here</p>
            <p><a class="btn btn-primary btn-lg" href="/course">Add Course &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <h3>Add User here</h3>
            <p>Adding new Student here</p>
            <p><a class="btn btn-primary btn-lg" href="/user">Add User &raquo;</a></p>
        </div>
    </div>

    <hr>


</div> <!-- /container -->